{% extends 'website/header.html' %}
{% load static %}

{% block head %}

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About Us</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-20">
				<h2 class="mb-3">Building a Sustainable Future, Together</h2>
				<p>At Sustainogram, we are more than just a company – we're a passionate community driven by a shared mission: 
					<b>combating climate change and empowering a sustainable future</b>. </p>
				<p> We build resilient platforms, collaborate with innovative partners and foster ecosystems that help 
					companies take practical climate mitigation action through trusted carbon credits.</p>
				<p> Registered under DPIIT (Department for Promotion of Industry and Internal Trade), 
					we're a young Indian startup committed to making a global impact.
				</p>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<img loading="lazy" class="img-fluid" src="{% static 'website/images/new/13.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<section class="promo-video section-sm bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-7 col-lg-9">
				<div class="title text-center">
					<h2>Our Story</h2>
					<p><b>Our story began with a simple observation, </b>The carbon credit market, a powerful tool for emission reduction, lacked accessibility and transparency. 
						This realization fueled <br> our desire to create a more effective and equitable system.</p>
					<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- /section title -->
			<div class="col-md-8 mx-auto">
				<iframe src="https://www.youtube.com/embed/VeOCleUfGNE?si=NOOw-huBlhfuuRuB" width="100%" height="360" frameborder="0"
					webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<section class="section-padding mt-4">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>Our Approach</h2>
					<p>We believe in a two-pronged approach to sustainability.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div> 
	  <div class="row mb-4">
		<div class="col-lg-6 ">
		  <div class="media img-block mb-3 mb-lg-0">
			<img src="{% static 'website/images/about/h-1.jpg' %}" alt="" class="img-fluid rounded mr-3">
  
			<div class="media-body ">
			  <h4 class="mb-3">Empowering Individuals and Businesses</h4>
			  <p class="text-justify">We developed a user-friendly carbon calculator – a comprehensive tool that helps both 
				individuals and businesses track, monitor, and reduce their carbon footprint. Our services 
				encompass various sectors, including aviation, afforestation, renewable energy, and more.</p>
			</div>
		  </div>
		</div>
		<div class="col-lg-6">
		  <div class="media img-block">
			<img src="{% static 'website/images/about/h-2.jpg' %}" alt="" class="img-fluid rounded mr-3">
  
			<div class="media-body">
			  <h4 class="mb-3">Revolutionizing Carbon Trading</h4>
			  <p class="text-justify">We are on a mission to transform the carbon credit market through the power of blockchain technology.
				Our upcoming blockchain-based carbon exchange promises increased transparency, liquidity, accessibility,
				and efficiency in carbon credit trading. This innovative platform will benefit all stakeholders, from
				project developers to businesses and individual investors.</p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

<!-- Start Our Team
		=========================================== -->
		<section class="team" id="team">
			<div class="container">
				<div class="row justify-content-center">
					<!-- section title -->
					<div class="col-xl-6 col-lg-8">
						<div class="title text-center ">
							<h2>Our Team</h2>
							<p>Meet our dedicated team of experts committed to driving sustainable change and supporting your carbon offset journey.</p>
							<div class="border"></div>
						</div>
					</div>
					<!-- /section title -->
				</div>
				<div class="row">
					<!-- team member -->
					<div class="col-lg-4 col-md-6">
						<div class="team-member text-center">
							<div class="member-photo">
								<!-- member photo -->
								<img loading="lazy" class="img-fluid" src="{% static 'website/images/chandrakant.jpg' %}" alt="Chandrakant">
								<!-- /member photo -->
		
								<!-- member social profile -->
								<div class="mask">
									<ul class="clearfix">
										<li><a href=""><i class="tf-ion-social-facebook"></i></a></li>
										<li><a href=""><i class="tf-ion-social-twitter"></i></a></li>
										<li><a href=""><i class="tf-ion-social-google-outline"></i></a></li>
										<li><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
									</ul>
								</div>
								<!-- /member social profile -->
							</div>
		
							<!-- member name & designation -->
							<div class="member-content">
								<h3>Chandrakant Kumbhare</h3>
								<span>Chief Executive Officer</span>
								<p>Chandrakant Kumbhare is the Chief Executive Officer of Sustainogram, a global exchange and marketplace for high-quality carbon credits, based in India.</p>
							</div>
							<!-- /member name & designation -->
		
						</div>
					</div>
					<!-- end team member -->
		
					<!-- team member -->
					<div class="col-lg-4 col-md-6">
						<div class="team-member text-center">
							<div class="member-photo">
								<!-- member photo -->
								<img loading="lazy" class="img-fluid" src="{% static 'website/images/saurabh.jpg' %}" alt="Saurabh">
								<!-- /member photo -->
		
								<!-- member social profile -->
								<div class="mask">
									<ul class="clearfix">
										<li><a href=""><i class="tf-ion-social-facebook"></i></a></li>
										<li><a href=""><i class="tf-ion-social-twitter"></i></a></li>
										<li><a href=""><i class="tf-ion-social-google-outline"></i></a></li>
										<li><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
									</ul>
								</div>
								<!-- /member social profile -->
							</div>
		
							<!-- member name & designation -->
							<div class="member-content">
								<h3>Saurabh Patel</h3>
								<span>Chief technology Officer</span>
								<p>Saurabh Patel is Chief Technology Officer (CTO) at Sustainogram, responsible for sustainogram's technology infrastructure, security, and development. </p>
							</div>
							<!-- /member name & designation -->
						</div>
					</div>
					<!-- end team member -->
		
					<!-- team member -->
					<div class="col-lg-4 col-md-6">
						<div class="team-member text-center">
							<div class="member-photo">
								<!-- member photo -->
								<img loading="lazy" class="img-fluid" src="{% static 'website/images/prashant.jpg' %}" alt="Prashant">
								<!-- /member photo -->
		
								<!-- member social profile -->
								<div class="mask">
									<ul class="clearfix">
										<li><a href=""><i class="tf-ion-social-facebook"></i></a></li>
										<li><a href=""><i class="tf-ion-social-twitter"></i></a></li>
										<li><a href=""><i class="tf-ion-social-google-outline"></i></a></li>
										<li><a href=""><i class="tf-ion-social-dribbble"></i></a></li>
									</ul>
								</div>
								<!-- /member social profile -->
							</div>
		
							<!-- member name & designation -->
							<div class="member-content">
								<h3>Prashant Randiwe</h3>
								<span>Full-Stack Developer</span>
								<p>Prashant Randiwe is Full stack Developer at Sustainogram, responsible and handle Development of Sustainogram. </p>
							</div>
							<!-- /member name & designation -->
		
						</div>
					</div>
					<!-- end team member -->
				</div> <!-- End row -->
			</div> <!-- End container -->
		</section> <!-- End section -->
		<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>Sustainogram is driven by a team of dedicated sustainability enthusiasts with diverse expertise.</h2>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Join Our Mission</h3>
				<p>We believe that collective action is key to achieving real change. Become a part of our community 
					and contribute to building a greener tomorrow. Explore our services, try our Beta carbon calculator,
					 and stay tuned for the launch of our revolutionary carbon exchange platform. <br>
					 <b>Together, let's create a measurable difference for our planet.</b></p>
				<img loading="lazy" src="images/17.jpg" alt="" class="img-fluid mt-30">
			</div>
			<div class="col-md-6 mt-5 mt-md-0">
				<h3>Our Vision</h3>
				<p>Our vision is to lead the transformation towards a carbon-neutral future, where businesses seamlessly 
					integrate high-quality carbon credits from diverse nature and technology-based projects. 
					We aim to support global climate goals by promoting solutions that deliver significant environmental 
					and community benefits, striving to achieve a Below-2°C pathway by 2030.</p>
				<img loading="lazy" src="images/19.jpg" alt="" class="img-fluid mt-30">
			</div>
		</div>
	</div>
</section>





<!-- <section class="section gallery">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Sneak Peak Gallery</h2>
					<p>Explore our Sneak Peek Gallery for an exclusive visual journey through our innovative projects and impactful carbon solutions. Discover the tangible benefits and real-world impacts of our carefully curated initiatives.</p>
						<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="company-gallery">
					<img loading="lazy" src="images/company/gallery-1.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-2.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-3.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-4.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-5.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-5.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-1.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-2.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-3.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-4.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-5.jpg" alt="">
					<img loading="lazy" src="images/company/gallery-5.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section> -->

<!--
Start Counter Section
==================================== -->
<!-- <section class="counter-wrapper section-sm">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<div class="title">
					<h2>Award-Winning Agency</h2>
					<p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-alarm-outline"></i>
					<div>
						<span class="counter" data-count="150">0</span>
					</div>
					<h3>Happy Clients</h3>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-analytics-outline"></i>
					<div>
						<span class="counter" data-count="130">0</span>
					</div>
					<h3>Projects completed</h3>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item">
					<i class="tf-ion-ios-compose-outline"></i>
					<div>
						<span class="counter" data-count="99">0</span>
					</div>
					<h3>Positive feedback</h3>

				</div>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-6 text-center ">
				<div class="counters-item kill-border">
					<i class="tf-ion-ios-bolt-outline"></i>
					<div>
						<span class="counter" data-count="250">0</span>
					</div>
					<h3>Cups of Coffee</h3>
				</div>
			</div>
			
		</div> 
	</div> 
</section>  -->
<!--
Start Call To Action
==================================== -->
<!-- <section class="call-to-action section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8 text-center">
				<h2>Let's Create Something Together</h2>
				<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, nisi elit consequat ipsum,
					nesagittis sem nid elit. Duis sed odio sitain elit.</p>
				<a href="contact.html" class="btn btn-main">Contact Us</a>
			</div>
		</div>
	</div>
</section> End section -->

{% include 'website/footer.html' %}

{% endblock %}