{% extends 'website/header.html' %}
{% load static %}

{% block head %}

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Contact Us</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2> ECOSYSTEM  <span class="color">PLAYERS</span></h2>
					<div class="border"></div>
					<p>The carbon credit value chain involves various ecosystem players. These participants range from carbon offset projects to brokers and traders.</p>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">
			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="{% static 'website/images/blog/exchange.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Exchange </a></h3>
						<p>A Decentralised and Universally regulated Blockchain Technology based Carbon Exchange Platform for Trading of Carbon Credits & Offsets. Credits certified through Sustain gram or other Registry Platform can be listed and traded, providing transparency and security in the global carbon market. </p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="{% static 'website/images/blog/registry.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Meta Registry</a></h3>
						<p>A blockchain tech based coherent and collective solution, a Registry Platform for Validation of GHG Offsets through newly defined SOPs, Strategies and Methodology. <br>
							Also, Comply and Adhere other registry platforms like VERRA, Gold Standard Impact Registry & Climate Action Reserve</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="{% static 'website/images/blog/eco.jpg' %}" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Ecosystem</a></h3>
						<p>Brings stakeholders (Producer, Buyers, Validators, Auditors) and Regulators (United Nations Compliance Framework, National Governments) to a single platform for improved monitoring and compliances. <br>
							Integrated with International Platforms for Smooth Operations</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->

<section class="call-to-action-2 section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-5 text-center">
				<h3>Meta Registry Benefits</h3>
			</div>
			<div class="col-md-12">
				<h5>
					<ul class="feature-list d-md-flex justify-content-around align-items-center">
						<li class="mb-3"> <i class="tf-ion-android-checkmark-circle"></i> No Double Counting</li>
						<li class="mb-3"> <i class="tf-ion-android-checkmark-circle"></i> Transparency & Integrity</li>
						<li class="mb-3"> <i class="tf-ion-android-checkmark-circle"></i> Immutability</li>
						<li class="mb-3"> <i class="tf-ion-android-checkmark-circle"></i> Efficiency</li>
						<li class="mb-3"> <i class="tf-ion-android-checkmark-circle"></i> Decentralised Security Features</li>
					</ul>
				</h5>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->

<!-- Start Services Section
==================================== -->

<section class="services" id="services">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Our Services</h2>
					<p>we are a passionate community of sustainability enthusiasts working towards a shared goal, reducing carbon emissions and building a greener future.</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row no-gutters">

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-personadd"></i>
					</div>
					<h3>PRODUCER</h3>
					<p>The project sponsor, develops,finances, constructs, and commences commercialoperations of the project</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-chatbox-working"></i>
					</div>
					<h3>CONSULTANT</h3>
					<p>Conceives, structures, and designs acarbon offset project and submits thedesign to a carbon offset registry</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-calculator"></i>
					</div>
					<h3>AUDITOR</h3>
					<p>The project design is auditedby a third-party verifier to confirmcompliance with registry requirements.Submits report to Registry</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4  text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ios-briefcase"></i>
					</div>
					<h3>RETIREMENT</h3>
					<p>An end consumer purchases and“retires” the carbon offset, and theretirement is then noted on the relevantregistry</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-arrow-graph-up-right"></i>
					</div>
					<h3>TRADE</h3>
					<p>The project sponsor / owner sells the carbonoffset into the market. Such a sale can oftenhappen through a wholesaler, but the carbonoffset remains listed on the relevant registry,which continues to track its ownership</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<i class="tf-ion-ribbon-b"></i>
					</div>
					<h3>CERTIFICATION</h3>
					<p>Registry Organisation/ Platformreviews the project document,structure, and validation report andreleased the Impact Statement i.e.Certification – Carbon Offset</p>
				</div>
			</div>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-lg-6">
				<div class="title text-center">
					<h2>Start your climate journey with Sustainogram today</h2>
					<p>Explore carbon credits on Sustainogram Marketplace</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>

		<div class="row">

			<div class="col-md-6 mb-4 mb-md-0">
				<img loading="lazy" src="{% static 'website/images/1.png' %}" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>Real Time Value of Carbon Market “Improved Market Access”</li>
					<li>Legacy Carbon Validation Through “Carbon Bridging”</li>
					<li>Transparency in Validation and Transaction “Public Record Feature”</li>
					<li>Reduction in “Zombie Projects” Trading</li>
					<li>Global Platforms Integration “Connectivity Feature”</li>
					<li>“Diamond” Standard Categorization “Traceability Feature”</li>
				</ul>
				<a href="about.html" class="btn btn-main mt-20">Learn More</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
{% include 'website/footer.html' %}

{% endblock %}